.button {
  margin-left: var(--spacing);
  padding: 10px 14px;
  font-size: var(--font-size-small);
  border: none;
  background-color: var(--dark-green-color);
  color: var(--white-color);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #17a74a;
}
