<div id="top-container" class="overview_container">
  <div class="overview_container_card">
    <label for="yearSelect">Select Year:</label>
    <select class="dropdown" id="yearSelect"></select>

    <div id="listening-summary" class="summary-box"></div>
  </div>

  <div class="overview_container_card left">
    <div class="card_container">
      <h2>Top Artists</h2>
      <div class="index_top_card" id="top-artists"></div>
    </div>

    <div class="card_container">
      <h2>Top Songs</h2>
      <div class="index_top_card" id="top-songs"></div>
    </div>
  </div>
</div>
